extends layout

block content
  nav.navbar.navbar-inverse( role="navigation" )
    navbar-header
      a.navbar-brand(href="#") MKD Lineage
    ul.nav.navbar-nav
      li: a(href="/") Home
      li: a( href="Search" ) Search
      li.active: a( href="update" ) Update
      li: a( href="new" ) New
      
      
  div.container
      form(id='form1')
        div(class="form-row")
          div(class="form-group col-md-2")
            label(for="DocType") DocType
            input.form-control(id='DocType', name='DocType', placeholder='DocType')
          div(class="form-group col-md-10")
            label(for="DocPath") DocPath
            input.form-control(id='DocPath', name='DocPath', placeholder='DocPath')
      br
  div.container
    div.content
      table.table.table-striped
        thead
          tr.warning
            th ParentSystem
            th SourceSystem
            th SystemType
            th SystemLevel
            th
              button.btn.btn-warning.btn-sm.active(type="button" id="AddBtn") Add System
            th
        tbody(id="updateTable")
          if MKData.length
            each doc in MKData
              tr
                td
                  - var vpSys = doc.ParentSystem
                  input.form-control(id="pSystem" value=vpSys name="pSystem")
                td
                  - var vsSys = doc.SourceSystem
                  input.form-control(id="sSystem" value=vsSys name="sSystem")
                td
                  - var vProcessor = ('P'==doc.SystemType) ? 'selected' : null;
                  - var vSource = ('S'==doc.SystemType) ? 'selected' : null;
                  select.form-control(id="Type1")
                    option(selected=vProcessor) Processor
                    option(selected=vSource) Source
                td
                  - var vZero = (0==doc.SystemLevel) ? 'selected' : null;
                  - var vOne = (1==doc.SystemLevel) ? 'selected' : null;
                  - var vTwo = (2==doc.SystemLevel) ? 'selected' : null;
                  - var vThree = (3==doc.SystemLevel) ? 'selected' : null;
                  - var vFour = (4==doc.SystemLevel) ? 'selected' : null;
                  - var vFive = (5==doc.SystemLevel) ? 'selected' : null;
                  select.form-control(id="Level1")
                    option(selected=vZero) 0
                    option(selected=vOne) 1
                    option(selected=vTwo) 2
                    option(selected=vThree) 3
                    option(selected=vFour) 4
                    option(selected=vFive) 5
                td
                  button.btn.btn-warning.btn-sm.active(type="button") Delete
                td
                  button.btn.btn-warning.btn-sm.active(type="button") Update
  div.container
    form.form-horizontal
      div.form-group.row
        div.col-xs-2
          label.control-label Subscriber
          select.form-control(multiple id="Type2")
            option Summit
            option Sophis
        div.col-xs-4
          button.btn.btn-success(type="Submit") Validate
        
  div.footer
  
block script
  script(src="/src/UpdateFunctions.js")